div,
p,
li,
a,
strong,
input,
button,
textarea,
button span,
select,
select option,
.MuiStepLabel-label.MuiStepLabel-alternativeLabel,
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.right {
  text-align: right !important;
}

.left {
  text-align: left !important;
}

.none {
  display: none !important;
}

.btn {
  border-radius: 10px;
  outline: none;
  border: none;

  &:active {
    outline: none;
    border: none;
  }
  &:focus {
    outline: 0;
  }
  &:hover {
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
  }
  &:disabled {
    cursor: no-drop;
    opacity: 0.5;
  }
}

